.button {
    padding: 18px 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10px;
}
.text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.arrow {
    position: absolute;
    top: 15%;
    right: 22%;
}